@charset "utf-8";
/* CSS Document */

/*DA fuck is dat ?*/

/* 
	-------------------
	Classic shit for nice looking link
	-------------------
*/

a:link, a:visited {
	text-decoration:none;
	color:#065388;
}
a:hover {
	color:#990000;	
}
a.current:link, a.current:visited {
	color:#111;
	font-weight:bold;
}
img { border:none; }




/* 
	-------------------
	-------------------
	-------------------
	Text Format definition
	-------------------
	-------------------
	-------------------
*/

body {
	margin:0;
	padding:0;
	background-color:#333;
	/*color:#333;*/
	font-family:Georgia;
}

/*main style*/
p{
	font-size:18px;
	padding:5px 10px;
	margin:0;
	font-weight: normal;
	color:black;
}



ul {
	/*enlever les param par defaut des listes */
   list-style:circle; 
   margin:0 10px;
  }
  
  
/*I using this format in banner*/
h1 {
	margin:0;
	padding: 10px;
	font-size:36px;
	font-weight: normal;
}
/*déco des liens*/
h2{
	font-size:20px;
	padding:5px 10px;
	margin:0;
	font-weight: bold;
	text-decoration: underline;
}
/*Title police*/
t1 {
	line-height:125%;
	font-size:44px;
	font-weight: bold;
}

t2{
	font-size:30px;
	font-weight: bold;
	color:#6D1300;
}
t3{
	font-size:24px;
	font-weight: bold;
}


/* 
	----------------
	Custom Div definition
	----------------
*/


#myt1{	
	/*float: center;*/
	margin-bottom:10px;
	margin-top:10px;
	border-bottom:5px solid #333;
	
	box-sizing: border-box;
	/*padding: 10px 0px;*/
	margin-left:0;
	margin-right:0;
	
	/*FONT*/
	line-height:125%;
	font-size:44px;
	font-weight: bold;
}


#myt2{	
	/*margin-bottom:10px;*/
	
	box-sizing: border-box;
	padding: 10px 10px;
	
	font-size:30px;
	font-weight: bold;
	color:#6D1300;
	
}

#myt3{	
	margin-bottom:10px;
	box-sizing: border-box;
	padding: 10px 20px;
	
	
	font-size:24px;
	font-weight: bold;
}



/*
	-------------------
	-------------------
	-------------------
	Container and general page setting
	-------------------
	-------------------
	-------------------
*/

#container {
	max-width:1200px;
	/*min-width:720px;*/
	
	margin:auto;
	font-size:14px;
	position: relative;


}


#page {
	background-color:#EEE;
	
	/*border-top:1px solid #e5e5e5;*/
	/*overflow:auto;*/
	width: 100%;
	box-sizing: border-box;
	padding: 15px 10px;
	/*clear: both;*/
	/*
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	*/%;
}


#content {
	box-sizing: border-box;
	padding-top:1px; /*prevent nav bar to conflict with title*/
	
	margin-left:0px;
	margin-right:0px;
	/*line-height:160%;*/
	
	max-width: 1000px;
	/*min-width: 570px;*/
	
	width:80%;
}


/*Fonction pour enlever la side bar si l'ecran est trop petit --> Et afficher a 100%*/
@media screen and (max-width: 1000px) {
#content {
    width: -webkit-calc(100% - 170px);
    width:    -moz-calc(100% - 170px);
    width:         calc(100% - 170px);}
}

/*Fonction pour enlever la side bar si l'ecran est trop petit --> Et afficher a 100%*/
@media screen and (max-width: 635px) {
#content {width: 100%;}}





#footer {
	
	width:100%;
	/*background-color:#EEE;*/
	color:#EEE;
	
	box-sizing: border-box;
	padding:10px 15px 20px;	
	
	font-size:90%;
	text-align:left;
	
	border-top:2px solid #333;
}

/* 
	-------------------
	-------------------
	-------------------
	Banner elements
	-------------------
	-------------------
	-------------------
*/


#banner {
	color:#FFF;
	
	width: 100%;
	height: 300px; 
	
	margin:0px;
	font-family: Georgia;
	background-image: url(ClimbingWP.jpg) ;
	background-repeat: no-repeat;
    background-color:#FFF;
 	background-size: cover;
	/*height: 390px;*/
	
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;

	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;

	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;

	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
}
#name {
	z-index: 1;
	position: absolute;
	top:25px;
	left:0px;
	float: left;
	background-image:url(black50.png);
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
}
#welc {
	position: absolute;
	top:200px;
	right:00px;
	float: right;
	background-image:url(black50.png);
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
}

#name p {
	margin:0;
	padding: 5px 10px;
	text-transform: uppercase;
	font-size:14px;
	
	
}



/*	-------------------
	-------------------
	-------------------
	Barre de navigation
	-------------------
	-------------------
	-------------------
*/

#nav {	
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	
	/*prédéfinir la taille et la position en z*/
	height:30px;
	background-color: #333;
	z-index: 10;
	

}
#nav ul {
	/*enlever les param par defaut des listes */
   list-style:none; 
   margin:0;
   padding:0;
 
  }
#nav ul li {
	/* Stacker les liste de lien à gauche (horizontal) */
	   float:left;
   
}
#nav ul li a {

	
	display:block;
	background-color:#333;
	line-height:30px; /*centre le texte*/
	
	
	margin:0;
	padding:0px 15px;
   
	color:#fff;
	text-decoration:none;
	font-size: 20px;
   
}
#nav ul li a:hover {
   /* Change la couleur de l'arrière plan lorsqu'on passe la souris */
   background-color: #666;
}
#nav li a.active {
	/* La page active a son texte en rouge*/
    color: #ce1414;
}



/* 
	-------------------
	-------------------
	-------------------
	Side bar
	-------------------
	-------------------
	-------------------
*/

#sidebar{
	min-width:150px;
	max-width:180px; /*limit to 180px en pratique car en % de la width du container*/
	
	width:15%;
	
	background-color:#EEE;
	border: 1px solid #9a0f0f;
	
	-moz-border-radius-topleft:30px;
	-webkit-border-top-left-radius:30px;

	-moz-border-radius-topright:30px;
	-webkit-border-top-right-radius:30px;

	-moz-border-radius-bottomright:30px;
	-webkit-border-bottom-right-radius:30px;

	-moz-border-radius-bottomleft:30px;
	-webkit-border-bottom-left-radius:30px;
	
	
	box-sizing: border-box;
	float:right;
	right:10px;
	padding-top: 10px;
	
	/*sticky position*/
	position: -webkit-sticky;
	position: sticky;
	top: 40px;

	/* Above the navbar */
	z-index: 15;
	
	/*Shadow, add a coma and same set of paremters for double the shadow*/
	/* param : offset droite, offset bas, fondu, epaisseur, couleur, mot clé*/
	
	-webkit-box-shadow: 2px 2px 5px 2px gray;
	
}

/*Fonction pour enlever la side bar si l'ecran est trop petit*/
@media screen and (max-width: 635px) {
#sidebar {display: none;}}


#sidebar h3{
	/*texte a l'interieur paddé*/
	/*padding:5px;*/
	font-family:helvetica;
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	width:100px;
	}

ul.sideb {
    list-style-type: none;
	margin:10px 2px;
	padding:3px;
	
	font-family:helvetica;
}

ul.sidea{
    list-style-type: none;
	margin:10px 2px;
	padding:3px;
	font-size:13px;
	font-family:courier;
	text-align:right;
}

img.center {
	display:block;
	margin: auto;
}
